/* Stiluri generale */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header, nav, main {
    padding: 20px;
}

.message {
    color: green;
    text-align: center;
    margin-top: 1rem;
}

.error {
    color: red;
    text-align: center;
    margin-top: 1rem;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-menu a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #444;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Responsive layout */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0;
    }
}

/* Tabele */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
